*{
    box-sizing: border-box;
    font-family: cursive;
}

main {
    /* display: flex;
    flex-direction: row;
    flex-wrap: wrap; */
    /* float: left; */
    /* border: 1px solid red; */
    /* overflow: scroll; */
    /* display: inline-block; */
    
}
h1 {
    text-align: center;
    font-size: 34px;
}
/* #photo-template {
    width: 25%;
    background-color: #eee;
    margin: 8px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
}
#photo-template h2 {
    margin: 12px;
    text-align: center;
} */

#photo-template img {
    /* float: left; */
    width: 150px;
    height: 150px;
}
