@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");
* {
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

main {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0 6%;
}
footer {
  text-align: center;
  background-color: lightblue;
  height: 48px;
  font-family: "Montserrat", sans-serif;
  padding-top: 16px;
}
